title: sobanieca's Dev Blog
description: A personal development blog about JavaScript, Deno, and Serverless
author: sobanieca
email: your-email@example.com

baseurl: ""
url: "https://sobanieca.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Pagination
paginate: 5
paginate_path: "/page:num/"

# Collections
collections:
  categories:
    output: true
    permalink: /category/:name/
  posts:
    output: true
    permalink: /blog/:categories/:year/:month/:day/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "categories"
    values:
      layout: "category"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "sobanieca"

# SASS Processing
sass:
  sass_dir: assets/css
  style: compressed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .sass-cache
  - .jekyll-cache
